.page > *,
.page > .content__container > .content > * {
  margin-bottom: 4.8rem;
}

.page .subtitle,
.beds__title,
.facilities__title {
  margin-bottom: 2rem;
}

.facilities__list-item {
  margin-bottom: 0.8rem;
}

@media (min-width: 481px) {
  .facilities__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.sidebar {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  order: 1;
}

@media (min-width: 961px) {
  .page > .content__container {
    display: flex;
    gap: 8rem;
  }

  .content {
    max-width: 60%;
  }

  .sidebar {
    position: sticky;
    top: 4rem;
    height: fit-content;
    width: 40%;
    box-shadow: var(--box-shadow);
  }
}
