.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.header-logo,
.header-account {
  display: none;
}

.header-logo {
  font-weight: bold;
  font-size: var(--text-h6);
  color: var(--color-primary);
}

.header-search {
  width: 100%;
}

.header-account {
  cursor: no-drop;
}

@media (min-width: 641px) {
  .header-logo,
  .header-account {
    display: block;
  }

  .header-search {
    width: auto;
  }
}
