.room-box {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 2.4rem;
  width: fit-content;
}
.room-box.flex {
  width: 100%;
}

.room-box > * {
  margin-bottom: 0.8rem;
}

.room-box .lucide {
  margin-bottom: 1.2rem;
}

.room-box__title {
  font-weight: 600;
  font-size: var(--text-body);
}

.room-box__available {
  display: flex;
  gap: 0.8rem;
}
