#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.page {
  flex-grow: 1;
}

.link {
  color: var(--color-primary);
}

.link:hover,
.link:focus {
  color: var(--color-primary-alt);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
